<!-- Home Page
    ==========================================-->
<div id="express-home" class="text-center">
    <br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br>

<!-- Button trigger modal -->
    <div id='talk'>
                    <i class="fa fa-mobile pull-right"
 data-toggle="modal" data-target="#myModal" ></i></div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Get Your Free Inspection!</h4>
      </div>
      <div class="modal-body">
          <%= render 'homes/contact'%>
      </div>

    </div>
  </div>
</div>
    <a href="#express-about" class="fa fa-angle-down page-scroll"></a>

    </div>

    <!-- About Us Page
    ==========================================-->
    <div id="express-about">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <br>
                    <br>
                    <br>
                    <%= image_tag ("dallas1.jpg"), class: "img-responsive" %>
                </div>
                <div class="col-md-6">
                    <div class="about-text">
                        <div class="section-title">
                            <h4>About us</h4>
                            <h2>We are a <strong>Proud Texas Brand</strong></h2>
                            <hr>
                            <div class="clearfix"></div>
                        </div>
                        <p class="intro">Welcome to Express Roofing Contractors USA, a family owned business proudly hailing from The Lone Star State. Here at Express Roofing we like to stay true to our roots, and being from Texas that means building the Texas way. Elegant. Tough. Durable. We beleive that a home lacking a proper roof, is a home lacking proper foundation. That's why we offer free inspections. We believe in the quality of our work and providing no-nonsense service. That's why we provide a guarantee from start to finish. We know that it's the subtle differences that make a house a home. That's why we only use the highest quality materials.</p>
                        <ul class="about-list">
                            <li>
                                <span class="fa fa-dot-circle-o"></span>
                                <strong>Mission</strong> - <em>To provide the highest quality work possible.</em>
                            </li>
                            <li>
                                <span class="fa fa-dot-circle-o"></span>
                                <strong>Skills</strong> - <em>Installing elegant roofs.</em>
                            </li>
                            <li>
                                <span class="fa fa-dot-circle-o"></span>
                                <strong>Clients</strong> - <em>Satisfied clients thanks to our no-nonsense approach.</em>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
    <!-- Services Section
    ==========================================-->
    <div id="express-services" class="text-center">
        <div class="container">
            <div class="section-title center">
                <h2>What we<strong> DO</strong></h2>
                <div class="line">
                    <hr>
                </div>
                <div class="clearfix"></div>
                               <div class="lead text-center servicestext">
                                   Express Roofing Contractors provides an array of services for all of your residential needs. When we work on your home we make sure that all HOA or community requirements are met. Take a look at our services and give us a call to let us know how we can help you.</div>
            </div>
            <div class="space"></div>
            <div class="row">
                <div class="col-md-3 col-sm-6 service">
                    <i class="fa fa-home"></i>
                    <h4><strong>Free Inspections</strong></h4>
                    <p>Haven't inspected your roof lately? We provide free inspections to provide you peace of mind.</p>
                </div>

                  <div class="col-md-3 col-sm-6 service">
                    <i class="fa fa-certificate"></i>
                    <h4><strong>2 Year Warranty</strong></h4>
                    <p>Your new roof comes with a FREE 2 year warranty on labor and manufacturer materials</p>
                </div>

                <div class="col-md-3 col-sm-6 service">
                     <i class="fa fa-check"></i>
                    <h4><strong>Full Service Support</strong></h4>
                    <p>We work closely with industry leaders to provide you with the latest in roofing tech.</p>
                </div>

                 <div class="col-md-3 col-sm-6 service">
                    <i class="fa fa-bolt"></i>
                    <h4><strong>No-Nonsense</strong></h4>
                    <p>We're not in the business of haggling or price gouging. We'll provide you with fast and easy service and that's our guarantee.</p>
                </div>

            </div>
               <div class="space"></div>
            <div class="row">
                <div class="col-md-3 col-sm-6 service">
                    <i class="fa fa-search-plus"></i>
                    <h4><strong>Double Check</strong></h4>
                    <p>We never leave a job without inspecting it thoroughly.</p>
                </div>

                <div class="col-md-3 col-sm-6 service">
                    <i class="fa fa-language"></i>
                    <h4><strong>Multi-Language Support</strong></h4>
                    <p>To better serve you, we speak English, Spanish, and Arabic.</p>
                </div>

                <div class="col-md-3 col-sm-6 service">
                    <i class="fa fa-bullhorn"></i>
                    <h4><strong>Respectful Policies</strong></h4>
                    <p>We know roofing can be loud. That's why we always walk you through a job before starting.
</p>
                </div>

                <div class="col-md-3 col-sm-6 service">
                    <i class="fa fa-trash"></i>
                    <h4><strong>Clean Up</strong></h4>
                    <p>Our professionals always inspect their work area thoroughly for any loose nails. After all, no one likes a flat tire before work.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Section
    ==========================================-->
<br><br><br><br><br>
<div id="express-portfolio" class="row">
        <div class="section">
            <div class="container">
              <div class="section-title text-center center">
                <h2 class="portfolio-title">Take a Look at <strong>Our Work</strong></h2>
                <div class="line">
                    <hr>
                </div>
                  <br><br>
                <div class="lead text-center porttext">
                 When we install your new roof we only use the highest quality materials to ensure durability and elegance. Our roofing experts will always provide you with a great deal of roofing options to ensure satisfaction and uniqueness. Take a look at some of the work we can do below.</div>
            </div>
                <div class="row object-non-visible" data-animation-effect="fadeIn">
                    <div class="col-md-12">


                        <!-- portfolio items start -->
                        <div class="isotope-container row grid-space-20">
                            <div class="col-sm-6 col-md-6 isotope-item web-design">
                                <div class="image-box">
                                    <div class="overlay-container">
                                        <%=image_tag ("shingles.jpg") %>

                                        <a class="overlay" data-toggle="modal" data-target="#project-1">
                                            <i class="fa fa-search-plus"></i>
                                            <span>We Install Asphalt Shingles</span>
                                        </a>
                                    </div>
                                    <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-1">Asphalt Shingles</a>
                                </div>
                                <!-- Modal -->
                                <div class="modal fade" id="project-1" tabindex="-1" role="dialog" aria-labelledby="project-1-label" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="bttn" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                <h4 class="modal-title" id="project-1-label">Asphalt Shingles</h4>
                                            </div>
                                       <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-md-5">                                                                                                     <h3>About</h3>
                                                        <p>Asphalt Shingles are today's most popular roofing choice. Their cost and versatility make them a great choice for any home. </p>
                                                        <p>Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.</p>
                                                    </div>                                                                                                  <div class="col-md-7">

                                                    <h3>Contact</h3>
                                                    <p> <%=render 'homes/rightcontact'%></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal end -->
                            </div>

                            <div class="col-sm-6 col-md-6 isotope-item app-development">
                                <div class="image-box">
                                    <div class="overlay-container">
                                        <%=image_tag ("metal_roof.jpg") %>
                                        <a class="overlay" data-toggle="modal" data-target="#project-2">
                                            <i class="fa fa-search-plus"></i>
                                            <span>We Install Metal Roofs</span>
                                        </a>
                                    </div>
                                    <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-2">Metal Roofing</a>
                                </div>
                                <!-- Modal -->
                                <div class="modal fade" id="project-2" tabindex="-1" role="dialog" aria-labelledby="project-2-label" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                <h4 class="modal-title" id="project-2-label">Metal Roofing </h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-md-5">                                                                                                     <h3>About</h3>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.</p>
                                                        <p>Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.</p>
                                                    </div>                                                                                                  <div class="col-md-7">

                                                    <h3>Contact</h3>
                                                    <p> <%=render 'homes/rightcontact'%></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal end -->
                            </div>
                        </div>
                    </div>

                    <div class="row object-non-visible" data-animation-effect="fadeIn">

                        <div class="col-md-12">
                            <br>
                            <br>

                            <div class="col-sm-6 col-md-6 isotope-item web-design">
                                <div class="image-box">
                                    <div class="overlay-container">
                                        <%=image_tag ("steel_coated.jpg") %>
                                        <a class="overlay" data-toggle="modal" data-target="#project-3">
                                            <i class="fa fa-search-plus"></i>
                                            <span>We Install Stone-Coated Steel Roofs</span>
                                        </a>
                                    </div>
                                    <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-3">Stone-Coated Steel Roofs</a>
                                </div>
                                <!-- Modal -->
                                <div class="modal fade" id="project-3" tabindex="-1" role="dialog" aria-labelledby="project-3-label" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                <h4 class="modal-title" id="project-3-label">Stone-Coated Steel Roofs More</h4>
                                            </div>
                                         <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-md-5">                                                                                                     <h3>About</h3>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.</p>
                                                        <p>Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.</p>
                                                    </div>                                                                                                  <div class="col-md-7">

                                                    <h3>Contact</h3>
                                                    <p><%=render 'homes/rightcontact'%></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal end -->
                            </div>

                            <div class="col-sm-6 col-md-6 isotope-item site-building">
                                <div class="image-box">
                                    <div class="overlay-container">
                                                                                                                                            <%=image_tag ("clayroof.jpg") %>

                                        <a class="overlay" data-toggle="modal" data-target="#project-4">
                                            <i class="fa fa-search-plus"></i>
                                            <span>We Install Clay Tiles</span>
                                        </a>
                                    </div>
                                    <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-4">Clay Tiles</a>
                                </div>
                                <!-- Modal -->
                                <div class="modal fade" id="project-4" tabindex="-1" role="dialog" aria-labelledby="project-4-label" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                <h4 class="modal-title" id="project-4-label">Clay Tiles</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-md-5">                                                                                                     <h3>About</h3>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.</p>
                                                        <p>Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.</p>
                                                    </div>                                                                                                  <div class="col-md-7">

                                                    <h3>Contact</h3>
                                                    <p> <%=render 'homes/rightcontact'%></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</div>
