<!-- Home Page
    ==========================================-->
<div id="tf-home" class="text-center">
    <br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br>

    <a href="#tf-about" class="fa fa-angle-down page-scroll"></a>

    <br><br>

</div>


    <!-- About Us Page
    ==========================================-->
    <div id="tf-about">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
        <%= image_tag ("texas_flag.jpg"), class: "img-responsive" %>
                </div>
                <div class="col-md-6">
                    <div class="about-text">
                        <div class="section-title">
                            <h4>About us</h4>
                            <h2>We are a <strong>Proud Texas Brand</strong></h2>
                            <hr>
                            <div class="clearfix"></div>
                        </div>
                        <p class="intro">We're from The Lone Star State, so naturally we build roofs the Texas way. Elegant. Strong. Tough. Durable. We believe in the quality of our work, that's why we provide a guarantee from start to finish.</p>
                        <ul class="about-list">
                            <li>
                                <span class="fa fa-dot-circle-o"></span>
                                <strong>Mission</strong> - <em>To provide the highest quality work possible.</em>
                            </li>
                            <li>
                                <span class="fa fa-dot-circle-o"></span>
                                <strong>Skills</strong> - <em>Installing elegant roofs.</em>
                            </li>
                            <li>
                                <span class="fa fa-dot-circle-o"></span>
                                <strong>Clients</strong> - <em>Satisfied clients thanks to our no-nonsense approach.</em>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Services Section
    ==========================================-->
    <div id="tf-services" class="text-center">
        <div class="container">
            <div class="section-title center">
                <h2>What we<strong> DO</strong></h2>
                <div class="line">
                    <hr>
                </div>
                <div class="clearfix"></div>
                               <div class="lead text-center servicestext">
Lorizzle ipsizzle yo mamma sit amet, fo shizzle mah nizzle fo rizzle, mah home g-dizzle adipiscing elit. Fo shizzle mah nizzle fo rizzle, mah home g-dizzle sapien velit, rizzle  </div>
            </div>
            <div class="space"></div>
            <div class="row">
                <div class="col-md-3 col-sm-6 service">
                    <i class="fa fa-home"></i>
                    <h4><strong>Free Inspections</strong></h4>
                    <p>Haven't inspected your roof lately? We provide free inspections to provide you peace of mind.</p>
                </div>

                <div class="col-md-3 col-sm-6 service">
                    <i class="fa fa-mobile"></i>
                    <h4><strong>Free Estimates</strong></h4>
                    <p>Give us a call or send us an e-mail. We would be more than happy to provide you a free, no obligation estimate.</p>
                </div>

                <div class="col-md-3 col-sm-6 service">
                    <i class="fa fa-briefcase"></i>
                    <h4><strong>Services</strong></h4>
                    <p>We install roofs for every type of property and use only the best material.
</p>
                </div>

                <div class="col-md-3 col-sm-6 service">
                    <i class="fa fa-bullhorn"></i>
                    <h4><strong>Our Work</strong></h4>
                    <p> A good roof is the foundation of a good home. That's why we only use the best materials.</p>
                </div>
            </div>
               <div class="space"></div>
            <div class="row">
                <div class="col-md-3 col-sm-6 service">
                    <i class="fa fa-home"></i>
                    <h4><strong>Free Inspections</strong></h4>
                    <p>Haven't inspected your roof lately? We provide free inspections to provide you peace of mind.</p>
                </div>

                <div class="col-md-3 col-sm-6 service">
                    <i class="fa fa-mobile"></i>
                    <h4><strong>Free Estimates</strong></h4>
                    <p>Give us a call or send us an e-mail. We would be more than happy to provide you a free, no obligation estimate.</p>
                </div>

                <div class="col-md-3 col-sm-6 service">
                    <i class="fa fa-briefcase"></i>
                    <h4><strong>Services</strong></h4>
                    <p>We install roofs for every type of property and use only the best material.
</p>
                </div>

                <div class="col-md-3 col-sm-6 service">
                    <i class="fa fa-bullhorn"></i>
                    <h4><strong>Our Work</strong></h4>
                    <p> A good roof is the foundation of a good home. That's why we only use the best materials.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Section
    ==========================================-->
<br><br><br><br><br>
<div id="lightbox" class="row">
        <div class="section">
            <div class="container">
              <div class="section-title text-center center">
                <h2>Take a Look at <strong>Our Portfolio</strong></h2>
                <div class="line">
                    <hr>
                </div>
                  <br><br>
                <div class="lead text-center porttext">
                Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit </div>
            </div>
                <div class="row object-non-visible" data-animation-effect="fadeIn">
                    <div class="col-md-12">


                        <!-- portfolio items start -->
                        <div class="isotope-container row grid-space-20">
                            <div class="col-sm-6 col-md-3 isotope-item web-design">
                                <div class="image-box">
                                    <div class="overlay-container">
                                        <%=image_tag ("free_inspections.jpg") %>

                                        <a class="overlay" data-toggle="modal" data-target="#project-1">
                                            <i class="fa fa-search-plus"></i>
                                            <span>What we install</span>
                                        </a>
                                    </div>
                                    <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-1">Learn More</a>
                                </div>
                                <!-- Modal -->
                                <div class="modal fade" id="project-1" tabindex="-1" role="dialog" aria-labelledby="project-1-label" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="bttn" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                <h4 class="modal-title" id="project-1-label">Project Title</h4>
                                            </div>
                                            <div class="modal-body">
                                                <h3>Project Description</h3>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.</p>
                                                        <p>Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.</p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <%=render 'homes/contact'%>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal end -->
                            </div>

                            <div class="col-sm-6 col-md-3 isotope-item app-development">
                                <div class="image-box">
                                    <div class="overlay-container">
                                        <%=image_tag ("estimates.jpeg") %>
                                        <a class="overlay" data-toggle="modal" data-target="#project-2">
                                            <i class="fa fa-search-plus"></i>
                                            <span>App Development</span>
                                        </a>
                                    </div>
                                    <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-2">Learn More</a>
                                </div>
                                <!-- Modal -->
                                <div class="modal fade" id="project-2" tabindex="-1" role="dialog" aria-labelledby="project-2-label" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                <h4 class="modal-title" id="project-2-label">Learn More </h4>
                                            </div>
                                            <div class="modal-body">
                                                <h3>Project Description</h3>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.</p>
                                                        <p>Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.</p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <%=render 'homes/contact'%>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal end -->
                            </div>

                            <div class="col-sm-6 col-md-3 isotope-item web-design">
                                <div class="image-box">
                                    <div class="overlay-container">
                                        <%=image_tag ("work1.jpeg") %>
                                        <a class="overlay" data-toggle="modal" data-target="#project-3">
                                            <i class="fa fa-search-plus"></i>
                                            <span>Web Design</span>
                                        </a>
                                    </div>
                                    <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-3">Learn More</a>
                                </div>
                                <!-- Modal -->
                                <div class="modal fade" id="project-3" tabindex="-1" role="dialog" aria-labelledby="project-3-label" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                <h4 class="modal-title" id="project-3-label">Learn More</h4>
                                            </div>
                                            <div class="modal-body">
                                                <h3>Project Description</h3>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.</p>
                                                        <p>Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.</p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <%=render 'homes/contact'%>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal end -->
                            </div>

                            <div class="col-sm-6 col-md-3 isotope-item site-building">
                                <div class="image-box">
                                    <div class="overlay-container">
                                                                                                                                        <%=image_tag   ("services.jpg") %>

                                        <a class="overlay" data-toggle="modal" data-target="#project-4">
                                            <i class="fa fa-search-plus"></i>
                                            <span>Site Building</span>
                                        </a>
                                    </div>
                                    <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-4">Learn More</a>
                                </div>
                                <!-- Modal -->
                                <div class="modal fade" id="project-4" tabindex="-1" role="dialog" aria-labelledby="project-4-label" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                <h4 class="modal-title" id="project-4-label">Learn More</h4>
                                            </div>
                                            <div class="modal-body">
                                                <h3>Project Description</h3>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.</p>
                                                        <p>Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.</p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <%=render 'homes/contact'%>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</div>


