
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag 'texas_flag.jpg'%>
       <div class="carousel-caption">
        <h3>We're Proud of our Texas Roots</h3>
        <p>Express Roofing USA is a Texas company, so naturally we build roofs the Texas way. Strong. Tough. Durable. Long-Lasting. We believe in the quality of our work, that's why we provide a guarantee from start to finish.</p>
      </div>
        </div>

      <div class="item">
          <%= image_tag 'Logo-1.png'%>
      </div>




    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
            <ul class="nav pull-right scroll-down">
  <li title="Scroll down"><i class="glyphicon glyphicon-chevron-down"></i></li>
</ul>


<br>
<br>
<br>
<h1 class='do'>What We Do</h1>
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="box">
                            <div class="box-gray aligncenter">
                                <h3>Free Inspections</h3><br>
                                <div class="icon">
                                    <%= image_tag 'free_inspections.jpg', width: '100%' %>
                                </div><br>
                                <h4>
                                  Woried about the hail storm? We provide free inspections to provide you peace of mind.
                                </h4>

                            </div>
                            <div class="box-bottom">
                                <a href="#"><h3>Learn more</h3></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="box">
                            <div class="box-gray aligncenter">
                                <h3>Free Estimates</h3><br>
                                <div class="icon">
                                    <%= image_tag 'estimates.jpg', width: '100%' %>
                                </div><br>
                                <h4>
                                Give us a call or send us an e-mail for your free, no obligation estimate.
                                </h4>

                            </div>
                            <div class="box-bottom">
                                <a href="#"><h3>Learn more</h3></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="box">
                            <div class="box-gray aligncenter">
                                    <h3>Services</h3><br>
                                <div class="icon">
                                    <%= image_tag 'services.jpg', width: '100%' %>
                                </div><br>
                                <h4>
                                 We install roofs for every type of property and use only the best material.
                                </h4>
                            </div>
                            <div class="box-bottom">
                                <a href="#"><h3>Learn more</h3></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="box">
                            <div class="box-gray aligncenter">
                                    <h3>Our Work</h3><br>
                                <div class="icon">
                                    <%= image_tag 'work1.jpg', width: '100%' %>
                                </div><br>
                                <h4>
                                 A good roof is the foundation of a good home. That's why we only use the best materials.
                                </h4>

                            </div>
                            <div class="box-bottom">
                                <a href="#"><h3>Learn more</h3></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <!-- divider -->
        <div class="row">
            <div class="col-lg-12">
                <div class="solidline">
                </div>
            </div>
        </div>
<br><br>
      <div id="map-canvas"></div>


